@mixin button-styles($bg-color, $text-color: $white) {
  background-color: $bg-color;
  color: $text-color;
  border: none;
  border-radius: $border-radius;
  padding: $padding-small $padding-medium;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s ease-in-out, filter 0.2s ease-in-out;
  flex-shrink: 0;

  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    filter: brightness(0.9);
  }
}